{
    # Disable Caddy admin api
    admin off
}

:80

# Enable Compression
encode zstd gzip

# Proxy API requests to the backend
handle /api/* {
    reverse_proxy biois-backend:4040
}

# Match static assets
@static {
    file
    path *.js *.css *.png *.jpg *.jpeg *.gif *.svg *.ico *.woff *.woff2
}

# Set Cache-Control to 1 day (86400 seconds)
header @static Cache-Control "public, max-age=86400"

# ALWAYS keep index.html fresh
header /index.html Cache-Control "no-cache, no-store, must-revalidate"

handle {
    root * /usr/share/caddy
    try_files {path} /index.html
    file_server
}
