@use '@angular/material' as mat;

$max-width: 1200px;

:host {
  --max-width: #{$max-width};
}

.background {
  position: fixed;
  top: 0;
}

.sidenav-container {
  margin: auto;
}

mat-sidenav {
  width: 260px;

  display: flex;
  flex-direction: column;

  .spacer {
    flex: 1;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    mat-toolbar {
      flex-shrink: 0;
    }

    @include mat.list-overrides(
      (
        list-item-label-text-size: 0.9rem,
        list-item-leading-icon-end-space: 0.5rem,
        list-item-label-text-color: var(--mat-sys-surface-dim),
        list-item-hover-label-text-color: var(--mat-sys-surface),
        list-item-focus-label-text-color: var(--mat-sys-surface-dim),
        list-item-hover-state-layer-color: var(--mat-sys-primary-fixed),
        list-item-focus-state-layer-color: var(--mat-sys-primary),
      )
    );

    mat-nav-list {
      flex: 1;

      display: flex;
      flex-direction: column;

      [mat-subheader] {
        text-transform: uppercase;
        color: var(--mat-sys-surface-dim);
      }
    }
  }

  @include mat.sidenav-overrides(
    (
      container-divider-color: var(--mat-toolbar-container-background-color),
      // container-shape: 0,
      container-background-color: var(--mat-toolbar-container-background-color),
      container-text-color: var(--mat-toolbar-container-text-color),
    )
  );

  mat-icon {
    vertical-align: bottom;
  }
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  &.background {
    z-index: 1;
  }

  mat-toolbar-row {
    margin: auto;
  }

  .logo {
    height: 1.8rem;
    width: auto;
    margin-right: 0.5rem;
  }

  .spacer {
    flex: 1;
  }
}

mat-sidenav-content {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-surface),
      container-text-color: var(--mat-sys-on-surface),
    )
  );

  mat-toolbar-row {
    button {
      margin-right: 0.5rem;
    }

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
