<!-- <mat-toolbar class="background"></mat-toolbar> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport
    [attr.role]="isHandset.value()"
    [mode]="isHandset.value() ? 'over' : 'side'"
    [opened]="isHandset.value() === false"
  >
    <div class="menu-container">
      <mat-toolbar><mat-icon class="logo" svgIcon="biois:logo-white"></mat-icon></mat-toolbar>
      <mat-nav-list>
        <div mat-subheader>Results</div>
        <a mat-list-item [routerLink]="['/app/results']">
          <mat-icon matListItemIcon>assessment</mat-icon>
          <span matListItemTitle>Results</span>
        </a>
        <div mat-subheader>Processes</div>
        @for (process of processes.value()?.processes; track process) {
          <a
            mat-list-item
            [routerLink]="['/app/create', process.id]"
            [matTooltip]="process.title ?? processName(process.id)"
          >
            <mat-icon matListItemIcon>add</mat-icon>
            <span matListItemTitle>
              {{ process.title ?? processName(process.id) }}
            </span>
          </a>
        }
        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['/app/signout']">
          <mat-icon matListItemIcon>logout</mat-icon>
          <span matListItemTitle>Logout</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        @if (isHandset.value()) {
          <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
        @if (!drawer.opened) {
          <mat-icon class="logo" svgIcon="biois:logo"></mat-icon>
        }
        <span class="spacer"></span>
        <span class="title" [matTooltip]="title()">{{ title() }}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
