<mat-toolbar class="background"></mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport
    [attr.role]="isHandset.value()"
    [mode]="isHandset.value() ? 'over' : 'side'"
    [opened]="isHandset.value() === false"
  >
    <mat-toolbar><mat-icon class="logo" svgIcon="geoengine:logo-white"></mat-icon></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/app/results']"><mat-icon>assessment</mat-icon> Results</a>
      <a mat-list-item [routerLink]="['/app/create']"><mat-icon>add</mat-icon> Create new</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        @if (isHandset.value()) {
          <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
        @if (!drawer.opened) {
          <mat-icon class="logo" svgIcon="geoengine:logo"></mat-icon>
        }
        <span class="spacer"></span>
        <span>BioIS</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
