<form (submit)="onSubmit()">
  <fieldset>
    <legend>Inputs</legend>
    <div>
      <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input matInput type="number" [formField]="form.inputs.coordinate.value.coordinates[0]" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input matInput type="number" [formField]="form.inputs.coordinate.value.coordinates[1]" />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Year</mat-label>
      <input matInput type="number" [formField]="form.inputs.year" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Month</mat-label>
      <mat-select [formField]="form.inputs.month">
        @for (m of [1, 2, 3, 4, 5, 6]; track m) {
          <mat-option [value]="m">{{ m }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </fieldset>

  <fieldset>
    <legend>Outputs</legend>

    <mat-checkbox [formField]="form.outputs.ndvi">NDVI</mat-checkbox>
    <mat-checkbox [formField]="form.outputs.kNdvi">kNDVI</mat-checkbox>
  </fieldset>

  <button mat-raised-button type="submit" [disabled]="!form().valid()">Submit</button>
</form>
