.full-width-table {
  width: 100%;
}

th.center,
td.center {
  text-align: center;
}

.no-data-row {
  text-align: center;
  font-style: italic;
  color: var(--mat-sys-on-surface-variant);
}

cdk-virtual-scroll-viewport {
  height: 100vh;
}

mat-icon {
  color: var(--mat-sys-secondary);

  &.error {
    color: var(--mat-sys-error);
  }

  &.success {
    color: var(--mat-sys-primary);
  }

  &.info {
    color: var(--mat-sys-primary);
    margin-left: 0.25em;
  }
}

.bottom {
  display: flex;
  align-items: center;

  button {
    flex: 0;
    margin-left: 0.25rem;
  }

  mat-paginator {
    flex: 1;
  }
}
